@{
    ViewData["Title"] = "Home Page";
}

<h1>Mockups</h1>

<ul>
    <li>
        <a asp-controller="Quiz" asp-action="Index">Quiz</a>
    </li>
    <li>
        <a asp-controller="Quiz" asp-action="Result">QuizResult</a>
    </li>
</ul>